*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #F8F8F8;
}

.mainContainer{
    width: 100%;
    display: grid;
    min-height: 100vh;
    grid-template-areas: 
    "menuNav"
    "filter"
    "mainSection"
    "footer";
}


/*Menu*/
.menuNav{
    grid-area: menuNav;
    background-color: #ffffff;
}

.menuContentContainer{
    width: 100%;
    padding: 24px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.logoNav{
    width: 56px;
}

.burgerMenu{
    display: inherit;
}

.menuContentContainer ul{
    display: none;
}


/*Filter*/
.filter{
    grid-area: filter;
}

.filterContainer{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
    background-color: #f7f7f7;
}

/*Content*/
.mainSection{
    grid-area: mainSection;
}

.mainSectionContainer{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
}

.sectionGrid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
}

.cardContainer{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 2rem;
    border-radius: 3rem;
    border: 1px solid #eaeaea;
}

.imgProduct{
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 2rem;
}

h2{
    font-size: 1.5rem;
    text-align: center;
}

button{
    width: 100%;
    padding: .5rem;
    border-radius: 1rem;
    border: none;
    background-color: #FF7C7E;
    color: #ffffff;
    font-weight: 700;
}

.paginationContainer{
    width: 100%;
    padding: 1rem;
}

.paginationContainer ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.paginationContainer ul li{
    width: 3rem;
    height: 3rem;
    list-style: none;
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

/*Footer*/
.footer{
    grid-area: footer;
}

.footerContainer{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #FF7C7E;
}

.socialsImg{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.socialPic{
    width: 32px;
}

h4{
    text-align: center;
    color: #ffffff;
}



/*MediaQueries*/
@media (min-width: 577px) {
    .mainContainer{
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-areas: 
        "menuNav filter"
        "menuNav mainSection"
        "footer mainSection";
    }

    /*Menu*/
    .menuContentContainer{
        width: 100%;
        padding: 24px;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;
    }

    .logoNav{
        width: 80px;
    }

    .burgerMenu{
        display: none;
    }

    .menuContentContainer ul li{
        list-style: none;
    }

    .menuContentContainer ul{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;
    }

    /*Content*/

    .sectionGrid{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1rem;
        gap: 1rem;
    }

    .cardContainer{
        padding: 1rem;
        border-radius: 2rem;
    }

    h2{
        font-size: 1.25rem;
    }

    /*Footer*/

    .socialsImg{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .socialPic{
        width: 32px;
    }

    h4{
        font-size: .75rem;
        text-align: center;
    }
}